header
{
	position: fixed;
	width: 100%;
	height: 4em;
	overflow: hidden;
	background-color: var(--accent-color);
}

header>div
{
	display: table;
	padding: .5em 1em;
	height: 3em;
	overflow: hidden;
}

header>div *
{
	display: table-cell;
	vertical-align: middle;
}

.title
{
	color: var(--text-primary-color);
	font-size: 2em;
}

.spacer
{
	width: 1em;
}

ul.header-buttons
{
	list-style-type: none;
	padding: 0;
}

ul.header-buttons > li
{
	display: table-cell;
	padding: 0;
	border-left: 1px solid var(--divider-color);
	width: 8em;
}

ul.header-buttons > li:last-child
{
	border-right: 1px solid var(--divider-color);;
}

.header-button
{
	padding: .5em 0;
	width: 100%;
	line-height: 2em;
	//border-left: 1px solid var(--text-primary-color);
	//border-right: 1px solid var(--text-primary-color);
	color: var(--text-primary-color);
	background-color: rgba(255, 255, 255, 0.0);
	border-radius: 0px;
}

.header-button:hover
{	
	background-color: rgba(255, 255, 255, 0.1);
}

.header-button:active
{
	background-color: rgba(255, 255, 255, 0.3);
}

.spacing
{
	height: 4em;
}

.narrow
{
	width: 24em;
	text-align: justify;
}

div.pad
{
	padding: 0.4em;
}

ul.types > li
{
	display: inline-block;
	padding: 0.4em;
}

.fNameBg
{
	padding: .5em 1em;
	border-radius: 8px;
	background-color: #EEE;
}

