<header>
	<div>
		<span class="title noselect"><b>STUDY BETTER</b></span>
		<span class="spacer"></span>
		<ul class="header-buttons">
			<li><button class="header-button noselect">Home</button></li>
<!--			<li><button (click)="listFile()" class="header-button noselect">ListFile</button></li>
			<li><button (click)="createFile()" class="header-button noselect">CreateFile</button></li> -->
			<li><button (click)="onAccountButtonPressed()" class="header-button noselect">{{loginButtonText}}</button></li>
			<li *ngIf="gapiService.ngSignedIn"><button (click)="openFile()" class="header-button noselect">Open File</button></li>
		</ul>
	</div>
</header>

<div class="spacing"></div>

<fact-set-editor></fact-set-editor>