<header>
	<div>
		<span class="title noselect"><b>STUDY BETTER</b></span>
		<span class="spacer"></span>
		<ul class="header-buttons">
<!--			<li><button (click)="listFile()" class="header-button noselect">ListFile</button></li>
			<li><button (click)="createFile()" class="header-button noselect">CreateFile</button></li> -->
			<li><button (click)="onAccountButtonPressed()" class="header-button noselect">{{loginButtonText}}</button></li>
			<li *ngIf="gapiService.ngSignedIn"><button (click)="viewType=ViewTypes.CREATE" class="header-button noselect">New File</button></li>
			<li *ngIf="gapiService.ngSignedIn"><button (click)="openFile()" class="header-button noselect">Open File</button></li>
			<li><button (click)="onNomenclatureButtonPressed()" class="header-button noselect">Practice Nomenclature</button></li>
		</ul>
	</div>
</header>

<div class="spacing"></div>

<!-- Designated test zone. -->

<!-- Designated everything other than test zone. -->

<div *ngIf="gapiService.ngIsProblem" class="narrow">
	<p>
		Did you get a weird error that looked something like this?:
	</p>
	<p>
		400. That's an error.
		Error: unauthorized_scope
	</p>
	<p>
		(Clicking 'yes' will guide you through the steps to fix this problem.)
	</p>

	<div *ngIf="!showHelp">
		<button (click)="showHelp=true">Yes</button>
		<button (click)="gapiService.clearProblem()">No</button>
	</div>
	
	<div *ngIf="showHelp">		
		<p>
			This error is a safeguard to prevent developers from creating malicious 
			applications that can access people's Google accounts. By default, Google
			will not allow for users to sign in to an unknown application. However,
			there is a workaround. Since signing in to an account is crucial for
			testing, there is an override that each user can perform to tell Google
			that they trust the application they are trying to log in to.
		</p>
		<p>
			You can add your Google account to a group called 'Allow Risky Access
			Permissions By Unreviewed Apps'. By joining this group, you are telling
			Google that you trust the developer of the app you are trying to log in
			to. To join this group, click the blue 'Join Group' button on
			<a href="https://groups.google.com/forum/#!forum/risky-access-by-unreviewed-apps" target="_blank">
				this page.
			</a>
			 (You may need to sign in to your Google account again before seeing the 
			button.)
		</p>
		<p>
			Eventually, I hope to get this app approved by Google, but that will
			involve some tidying up of the interface and deciphering of legalese. 
			So, for now, this is the only way to get it to work. Sorry about the 
			inconvenience.
		</p>
		<button (click)="showHelp=false; gapiService.clearProblem()">Close</button>
	</div>
</div>

<div *ngIf="viewType===ViewTypes.CREATE">
	<h3>1. Select a location</h3>
	<div *ngIf="selectedFile">{{selectedFile.name}}</div>
	<div><button (click)="chooseFolder()">Choose Folder</button></div>
	<h3>2. Choose a file name</h3>
		<span class="fNameBg">
			<input placeholder="File Name" [(ngModel)]="newFileName" class="fNameIn">
		</span>
	<h3>3. Pick a File Type</h3>
	<ul class="types">
		<li *ngFor="let editor of EditorComponent.ngEditors">
			<button (click)="createFile(editor.mimeType)">
				{{editor.hrName}}
			</button>
		</li>
	</ul>
</div>

<div *ngIf="viewType===ViewTypes.CREATING">
Creating File...
</div>

<div *ngIf="viewType===ViewTypes.PRACTICE">
	<nom-quiz></nom-quiz>
</div>

<div *ngIf="viewType===ViewTypes.EDIT">
	<fact-set-editor></fact-set-editor>
	<book-editor></book-editor>
</div>
