div.centerEverything>* {
	margin: auto;
}

hide-box {
	width: 40em;
}

span#editorRoot>hide-box {
	margin-top: 8px;
}

hide-box hide-box {
	width: auto;
	border-radius: 8px;
	margin-bottom: 8px;
	box-shadow: 0 0 4px -4px rgba(0, 0, 0, 0.0);
	transition: box-shadow .2s ease-in-out;
}

hide-box.expanded hide-box {
	box-shadow: 0 0 12px -4px #000;
}

hide-box.contracted hide-box {
	box-shadow: 0 0 0 #000;
}

hide-box hide-box:last-child {
	margin-bottom: 0px;
}

.fill-parent {
	width: 100%;
	height: 100%;
}

div.double-stack-box {
	width: 100%;
	height: auto;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1.6em 4px auto;
}

hide-box expanding-text-area {
	width: 100%;
	display: grid; /* Because other display types have weird heights (?!) */
}

div.relation {
	width: 100%;
	height: 1.6em;
	display: grid;
	grid-template-columns: 1fr 2em 2fr;
}

div.relation>* {
	height: 100%;
}

div.relation>span {
	text-align: center;
}

