<div *ngIf="loading">
Loading document...
</div>

<div *ngIf="editing" class="centerEverything">
	<span *ngIf="editingRoot">
		<!-- Characters -->
		<hide-box *ngIf="getPath('characters')" title="Characters"
			[extraButtons]="{p: createPushObjectButton(getPath('characters'), characterTemplate)}">
			<!-- A character -->
			<hide-box *ngFor="let character of getPath('characters').asArray(); let ichar = index;"
				[title]="(character.get('names').length>0) ? character.get('names').get(0).get(0).text : 'Unnamed Character'"
				[extraButtons]="{x: createDeleteIndexButton(getPath('characters'), ichar)}">
				<!-- Names -->
				<hide-box *ngIf="character.get('names')" title="Names and Nicknames"
					[extraButtons]="{p: createPushObjectButton(character.get('names'), nameTemplate)}">
					<list-item *ngFor="let name of character.get('names').asArray(); let iname = index"
						(delete)="character.get('names').remove(iname)">
						<div *ngIf="iname>0" class="double-stack-box">
							<input class="fill-parent" [(ngModel)]="name.get(0).text">
							<br *ngIf="iname>0">
							<expanding-text-area *ngIf="iname>0" [(ngModel)]="name.get(1).text"
								placeholder="Description (why was this name given, etc?)">
							</expanding-text-area>
						</div>
						<input *ngIf="iname===0" class="fill-parent" [(ngModel)]="name.get(0).text">
					</list-item>
				</hide-box>
				<!-- Description -->
				<hide-box *ngIf="character.get('description')" title="Description">
					<expanding-text-area [(ngModel)]="character.get('description').text"
						placeholder="Description">
					</expanding-text-area>
				</hide-box>
				<!-- Relationships -->
				<hide-box *ngIf="character.get('relationships')" title="Relationships"
					[extraButtons]="{p: createPushObjectButton(character.get('relationships'), relationshipTemplate)}">
					<list-item *ngFor="let relation of character.get('relationships').asArray(); let irel = index"
						(delete)="character.get('relationships').remove(irel)">
						<div class="double-stack-box">
							<div class="relation">
								<input class="type" placeholder="Cousin" [(ngModel)]="relation.get(0).text">
								<span class="of">of</span>
								<input class="person" placeholder="Bill Nye the Science Guy" [(ngModel)]="relation.get(1).text">
							</div>
							<br>
							<expanding-text-area [(ngModel)]="relation.get(2).text"
								placeholder="Description (what terms are they on, how did it happen, etc?)">
							</expanding-text-area>
						</div>
					</list-item>
				</hide-box>
				<!-- Archetypes -->
				<hide-box *ngIf="character.get('archetypes')" title="Archetypes"
					[extraButtons]="{p: createPushObjectButton(character.get('archetypes'), archetypeTemplate)}">
					<list-item *ngFor="let archetype of character.get('archetypes').asArray(); let iarc = index"
						(delete)="character.get('archetypes').remove(iarc)">
						<div class="double-stack-box">
							<input class="fill-parent" [(ngModel)]="archetype.get(0).text"
								placeholder="Name of archetype">
							<br>
							<expanding-text-area [(ngModel)]="archetype.get(1).text"
								placeholder="Describe how the archetype is fulfilled. Add CITATIONS to show why your description is correct!">
							</expanding-text-area>
						</div>
					</list-item>
				</hide-box>
			</hide-box>
		</hide-box>
	</span>
</div>