div.centerEverything>* {
	margin: auto;
}

hide-box {
	width: 40em;
}

hide-box hide-box {
	width: auto;
	border: 4px solid white;
	border-radius: 8px;
	margin-bottom: 8px;
}

hide-box hide-box:last-child {
	margin-bottom: 0px;
}