<div *ngIf="loading">
Loading document...
</div>

<div *ngIf="editing" class="centerEverything">
	<span id="editorRoot" *ngIf="editingRoot">
		<!-- Characters -->
		<hide-box *ngIf="getPath('characters')" title="Characters"
			[extraButtons]="{p: createPushObjectButton(getPath('characters'), characterTemplate)}">
			<!-- A character -->
			<hide-box *ngFor="let character of getPath('characters').asArray(); let ichar = index;"
				[title]="(character.get('names').length>0) ? character.get('names').get(0).get(0).text : 'Unnamed Character'"
				[extraButtons]="{x: createDeleteIndexButton(getPath('characters'), ichar)}">
				<!-- Names -->
				<hide-box *ngIf="character.get('names')" title="Names and Nicknames"
					[extraButtons]="{p: createPushObjectButton(character.get('names'), nameTemplate)}">
					<ng-container *ngFor="let name of character.get('names').asArray(); let iname = index"> 
						<input *ngIf="iname===0" class="fill-parent" style="height: 1.6em;" [(ngModel)]="name.get(0).text">
						<list-item *ngIf="iname>0"
							(delete)="character.get('names').remove(iname)">
							<div class="double-stack-box">
								<input class="fill-parent" [(ngModel)]="name.get(0).text">
								<br *ngIf="iname>0">
								<expanding-text-area *ngIf="iname>0" [(ngModel)]="name.get(1).text"
									placeholder="Description (why was this name given, etc?)">
								</expanding-text-area>
							</div>
						</list-item>
					</ng-container>
					<div class="center"
						*ngIf="character.get('names').length<=1">
						Press + to add a nickname / epithet / alternate spelling / etc.
					</div>
				</hide-box>
				<!-- Description -->
				<hide-box *ngIf="character.get('description')" title="Description">
					<expanding-text-area [(ngModel)]="character.get('description').text"
						placeholder="Description">
					</expanding-text-area>
				</hide-box>
				<!-- Relations -->
				<hide-box *ngIf="character.get('relations')" title="Relationships"
					[extraButtons]="{p: createPushObjectButton(character.get('relations'), relationTemplate)}">
					<list-item *ngFor="let relation of character.get('relations').asArray(); let irel = index"
						(delete)="removeCharacterRelation(character, irel)">
						<div class="double-stack-box">
							<div class="relationship">
								<select class="type fill-parent" [ngModel]="relation.get(0).text" 
									(ngModelChange)="setCharacterRelationType(character, relation, $event)">
									<option value="null">
										--Select a Relation Type--
									</option>
									<option *ngFor="let type of global.characterRelationTypes"
										[value]="type">
										{{type}}
									</option>
								</select>
								<span class="of">of</span>
								<select class="person" [ngModel]="relation.get(1).text" 
									(ngModelChange)="setCharacterRelationTarget(character, relation, $event)">
									<option value="null">
										--Select a Character--
									</option>
									<ng-container *ngFor="let character of getPath('characters').asArray()"> 
										<option *ngIf="true"
											[value]="character.id">
											{{character.get('names').get(0).get(0).text}}
										</option>
									</ng-container>
								</select>
							</div>
							<br>
							<expanding-text-area [(ngModel)]="relation.get(2).text"
								placeholder="Description (what terms are they on, how did it happen, etc?)">
							</expanding-text-area>
						</div>
					</list-item>
					<div class="center"
						*ngIf="character.get('relations').length==0">
						No one has added any relationships yet. Click the + button to add one!
					</div>
				</hide-box>
				<!-- Archetypes -->
				<hide-box *ngIf="character.get('archetypes')" title="Lit Terms / Archetypes"
					[extraButtons]="{p: createPushObjectButton(character.get('archetypes'), archetypeTemplate)}">
					<list-item *ngFor="let archetype of character.get('archetypes').asArray(); let iarc = index"
						(delete)="character.get('archetypes').remove(iarc)">
						<div class="double-stack-box">
							<select [(ngModel)]="archetype.get(0).text">
								<option value="null">
									--Select a Lit Term or Archetype--
								</option>
								<option *ngFor="let term of litTermsAndArchetypes"
									[value]="term">
									{{term}}
								</option>
							</select>
							<br>
							<expanding-text-area [(ngModel)]="archetype.get(1).text"
								placeholder="Describe how the archetype is fulfilled. Add CITATIONS to show why your description is correct!">
							</expanding-text-area>
						</div>
					</list-item>
					<div *ngIf="character.get('archetypes').length==0">
						No one has added any lit terms or archetypes yet. Click the + button to add one!
					</div>
				</hide-box>
			</hide-box>
			<div class="center"
				*ngIf="getPath('characters').length==0">
				No one has added a character yet. Click the + button to add one!
			</div>
		</hide-box>
		<!-- Events -->
		<hide-box *ngIf="getPath('events')" title="Events"
			[extraButtons]="{p: createPushObjectButton(getPath('events'), eventTemplate)}">
			<!-- An event -->
			<hide-box *ngFor="let event of getPath('events').asArray(); let ient = index;"
				[title]="event.get('names').get(0).get(0).text"
				[extraButtons]="{x: createDeleteIndexButton(getPath('events'), ient)}">
				<!-- Names -->
				<hide-box *ngIf="event.get('names')" title="Names and Nicknames"
					[extraButtons]="{p: createPushObjectButton(event.get('names'), nameTemplate)}">
					<ng-container *ngFor="let name of event.get('names').asArray(); let iname = index"> 
						<input *ngIf="iname===0" class="fill-parent" style="height: 1.6em;" [(ngModel)]="name.get(0).text">
						<list-item *ngIf="iname>0"
							(delete)="event.get('names').remove(iname)">
							<div class="double-stack-box">
								<input class="fill-parent" [(ngModel)]="name.get(0).text">
								<br *ngIf="iname>0">
								<expanding-text-area *ngIf="iname>0" [(ngModel)]="name.get(1).text"
									placeholder="Description (why was this name given, etc?)">
								</expanding-text-area>
							</div>
						</list-item>
					</ng-container>
					<div class="center"
						*ngIf="event.get('names').length<=1">
						Press + to add a nickname / epithet / alternate spelling / etc.
					</div>
				</hide-box>
				<!-- Description -->
				<hide-box *ngIf="event.get('description')" title="Description">
					<expanding-text-area [(ngModel)]="event.get('description').text"
						placeholder="Description">
					</expanding-text-area>
				</hide-box>
				<!-- Characters Involved -->
				<hide-box *ngIf="event.get('characters')" title="Characters Involved"
					[extraButtons]="{p: createPushObjectButton(event.get('characters'), characterRefTemplate)}">
					<list-item *ngFor="let character of event.get('characters').asArray(); let ichar = index"
						(delete)="event.get('characters').remove(ichar)">
						<div class="double-stack-box">
							<select class="person" [(ngModel)]="character.get(0).text">
								<option value="null">
									--Select a Character--
								</option>
								<ng-container *ngFor="let character of getPath('characters').asArray()"> 
									<option *ngIf="true"
										[value]="character.id">
										{{character.get('names').get(0).get(0).text}}
									</option>
								</ng-container>
							</select>
							<br>
							<expanding-text-area [(ngModel)]="character.get(1).text"
								placeholder="Description (how were they involved, what did they do, etc?)">
							</expanding-text-area>
						</div>
					</list-item>
					<div class="center"
						*ngIf="event.get('characters').length==0">
						No one has added any characters yet. Click the + button to add one!
					</div>
				</hide-box>
				<!-- Archetypes -->
				<hide-box *ngIf="event.get('archetypes')" title="Lit Terms / Archetypes"
					[extraButtons]="{p: createPushObjectButton(event.get('archetypes'), archetypeTemplate)}">
					<list-item *ngFor="let archetype of event.get('archetypes').asArray(); let iarc = index"
						(delete)="event.get('archetypes').remove(iarc)">
						<div class="double-stack-box">
							<select [(ngModel)]="archetype.get(0).text">
								<option value="null">
									--Select a Lit Term or Archetype--
								</option>
								<option *ngFor="let term of litTermsAndArchetypes"
									[value]="term">
									{{term}}
								</option>
							</select>
							<expanding-text-area [(ngModel)]="archetype.get(1).text"
								placeholder="Describe how the archetype is fulfilled. Add CITATIONS to show why your description is correct!">
							</expanding-text-area>
						</div>
					</list-item>
					<div class="center"
						*ngIf="event.get('archetypes').length==0">
						No one has added any lit terms or archetypes yet. Click the + button to add one!
					</div>
				</hide-box>
			</hide-box>
			<div class="center"
				*ngIf="getPath('events').length==0">
				No one has added an event yet. Click the + button to add one!
			</div>
		</hide-box>
		<!-- Objects -->
		<hide-box *ngIf="getPath('objects')" title="Objects"
			[extraButtons]="{p: createPushObjectButton(getPath('objects'), objectTemplate)}">
			<!-- An object -->
			<hide-box *ngFor="let object of getPath('objects').asArray(); let iobj = index;"
				[title]="object.get('names').get(0).get(0).text"
				[extraButtons]="{x: createDeleteIndexButton(getPath('objects'), iobj)}">
				<!-- Names -->
				<hide-box *ngIf="object.get('names')" title="Names and Nicknames"
					[extraButtons]="{p: createPushObjectButton(object.get('names'), nameTemplate)}">
					<ng-container *ngFor="let name of object.get('names').asArray(); let iname = index"> 
						<input *ngIf="iname===0" class="fill-parent" style="height: 1.6em;" [(ngModel)]="name.get(0).text">
						<list-item *ngIf="iname>0"
							(delete)="object.get('names').remove(iname)">
							<div class="double-stack-box">
								<input class="fill-parent" [(ngModel)]="name.get(0).text">
								<br *ngIf="iname>0">
								<expanding-text-area *ngIf="iname>0" [(ngModel)]="name.get(1).text"
									placeholder="Description (why was this name given, etc?)">
								</expanding-text-area>
							</div>
						</list-item>
					</ng-container>
					<div class="center"
						*ngIf="object.get('names').length<=1">
						Press + to add a nickname / epithet / alternate spelling / etc.
					</div>
				</hide-box>
				<!-- Description -->
				<hide-box *ngIf="object.get('description')" title="Description">
					<expanding-text-area [(ngModel)]="object.get('description').text"
						placeholder="Description">
					</expanding-text-area>
				</hide-box>
				<!-- Archetypes -->
				<hide-box *ngIf="object.get('archetypes')" title="Lit Terms / Archetypes"
					[extraButtons]="{p: createPushObjectButton(object.get('archetypes'), archetypeTemplate)}">
					<list-item *ngFor="let archetype of object.get('archetypes').asArray(); let iarc = index"
						(delete)="object.get('archetypes').remove(iarc)">
						<div class="double-stack-box">
							<select [(ngModel)]="archetype.get(0).text">
								<option value="null">
									--Select a Lit Term or Archetype--
								</option>
								<option *ngFor="let term of litTermsAndArchetypes"
									[value]="term">
									{{term}}
								</option>
							</select>
							<br>
							<expanding-text-area [(ngModel)]="archetype.get(1).text"
								placeholder="Describe how the archetype is fulfilled. Add CITATIONS to show why your description is correct!">
							</expanding-text-area>
						</div>
					</list-item>
					<div class="center"
						*ngIf="object.get('archetypes').length==0">
						No one has added any lit terms or archetypes yet. Click the + button to add one!
					</div>
				</hide-box>
			</hide-box>
			<div class="center"
				*ngIf="getPath('objects').length==0">
				No one has added an object yet. Click the + button to add one!
			</div>
		</hide-box>
		<!-- Places -->
		<hide-box *ngIf="getPath('places')" title="Places"
			[extraButtons]="{p: createPushObjectButton(getPath('places'), placeTemplate)}">
			<!-- A place -->
			<hide-box *ngFor="let place of getPath('places').asArray(); let iobj = index;"
				[title]="place.get('names').get(0).get(0).text"
				[extraButtons]="{x: createDeleteIndexButton(getPath('places'), iobj)}">
				<!-- Names -->
				<hide-box *ngIf="place.get('names')" title="Names and Nicknames"
					[extraButtons]="{p: createPushObjectButton(place.get('names'), nameTemplate)}">
					<ng-container *ngFor="let name of place.get('names').asArray(); let iname = index"> 
						<input *ngIf="iname===0" class="fill-parent" style="height: 1.6em;" [(ngModel)]="name.get(0).text">
						<list-item *ngIf="iname>0"
							(delete)="place.get('names').remove(iname)">
							<div class="double-stack-box">
								<input class="fill-parent" [(ngModel)]="name.get(0).text">
								<br *ngIf="iname>0">
								<expanding-text-area *ngIf="iname>0" [(ngModel)]="name.get(1).text"
									placeholder="Description (why was this name given, etc?)">
								</expanding-text-area>
							</div>
						</list-item>
					</ng-container>
					<div class="center"
						*ngIf="place.get('names').length<=1">
						Press + to add a nickname / epithet / alternate spelling / etc.
					</div>
				</hide-box>
				<!-- Description -->
				<hide-box *ngIf="place.get('description')" title="Description">
					<expanding-text-area [(ngModel)]="place.get('description').text"
						placeholder="Description">
					</expanding-text-area>
				</hide-box>
				<!-- Relations -->
				<hide-box *ngIf="place.get('relations')" title="Relations To Other Places"
					[extraButtons]="{p: createPushObjectButton(place.get('relations'), relationTemplate)}">
					<list-item *ngFor="let relation of place.get('relations').asArray(); let irel = index"
						(delete)="removePlaceRelation(place, irel)">
						<div class="relation">
							<select class="type" [ngModel]="relation.get(0).text"
								(ngModelChange)="setPlaceRelationType(place, relation, $event)">
								<option value="null">
									--Select a Relation Type--
								</option>
								<option *ngFor="let type of global.placeRelationTypes"
									[value]="type">
									{{type}}
								</option>
							</select>
							<br>
							<select class="person" [ngModel]="relation.get(1).text"
								(ngModelChange)="setPlaceRelationTarget(place, relation, $event)">
								<option value="null">
									--Select a Place--
								</option>
								<ng-container *ngFor="let place of getPath('places').asArray()"> 
									<option *ngIf="true"
										[value]="place.id">
										{{place.get('names').get(0).get(0).text}}
									</option>
								</ng-container>
							</select>
						</div>
					</list-item>
					<div class="center"
						*ngIf="place.get('relations').length==0">
						No one has added any relations yet. Click the + button to add one!
					</div>
				</hide-box>
				<!-- Archetypes -->
				<hide-box *ngIf="place.get('archetypes')" title="Lit Terms / Archetypes"
					[extraButtons]="{p: createPushObjectButton(place.get('archetypes'), archetypeTemplate)}">
					<list-item *ngFor="let archetype of place.get('archetypes').asArray(); let iarc = index"
						(delete)="place.get('archetypes').remove(iarc)">
						<div class="double-stack-box">
							<select [(ngModel)]="archetype.get(0).text">
								<option value="null">
									--Select a Lit Term or Archetype--
								</option>
								<option *ngFor="let term of litTermsAndArchetypes"
									[value]="term">
									{{term}}
								</option>
							</select>
							<br>
							<expanding-text-area [(ngModel)]="archetype.get(1).text"
								placeholder="Describe how the archetype is fulfilled. Add CITATIONS to show why your description is correct!">
							</expanding-text-area>
						</div>
					</list-item>
					<div class="center"
						*ngIf="place.get('archetypes').length==0">
						No one has added any lit terms or archetypes yet. Click the + button to add one!
					</div>
				</hide-box>
			</hide-box>
			<div class="center"
				*ngIf="getPath('places').length==0">
				No one has added a place yet. Click the + button to add one!
			</div>
		</hide-box>
	</span>
</div>














