:host {
	width: 40em;
	display: block;
}

div.root {
	width: auto;
	height: 1.6em;
	padding: 8px;
	background-color: #DDD;
	border-radius: 8px;
	transition: height .2s ease-in-out;
	overflow: hidden;
}

div.header {
	width: auto;
	height: 1.6em;
	padding: 0;
	text-align: center;
	font-weight: bold;
	margin-bottom: 8px;
	display: grid;
	grid-template-columns: 1fr auto 1fr;	
}

div.header>span.showoff {
	text-align: left;
}

div.header>span.showoff>img {
	width: 1.6em;
	height: 1.6em;
	border-radius: 8px;
	box-shadow: 0 0 8px -4px;
	margin-right: 4px;
}

div.header>span.label {
	position: relative;
	display: inline-block;
	top: 50%;
	transform: translateY(-50%);	
}

div.header>button-box {
	height: 1.6em;
	float: right;	
}

.right {
	float: right;
}
