/* You can add global styles to this file, and also import other style files */

/* Google font. URL: https://fonts.google.com/specimen/Quicksand */
@import url(https://fonts.googleapis.com/css?family=Quicksand);
/* Material design color pallette. URL: https://www.materialpalette.com/light-green/indigo */
@import 'palette.css';

body
{
	font-family: 'Quicksand' !important;
	color: var(--primary-text-color);
	margin: 0;
}

input
{
	font-size: 1em;
	line-height: 1em;
	padding: 0;
	border: 0;
	background-color: transparent;
}

input:focus
{
	outline-style: none;
	//border-bottom: 2px solid var(--accent-color);
	background-color: rgba(255, 255, 255, 0.2);
}

select
{
	border: 0;
	text-indent: 0;
	background-color: transparent;
}

select > option
{
	padding: 0;
}

select:focus
{
	outline-style: none;
}

ul
{
	list-style-type: none;
	padding: 0em;
}

button
{
	outline: 0;
	background-color: #EEE;
	border: none;
	border-radius: 8px;
	padding: .5em 1em;
	font-size: 1em;
	transition: background-color 0.3s;
	cursor: pointer;
}

button:hover
{
	outline: 0;
	background-color: var(--default-primary-color);
	transition: background-color 0.1s;
}

button:active
{
	outline: 0;
	background-color: var(--light-primary-color);
	transition: background-color 0.01s;
}

.noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
                          supported by Chrome and Opera */
}





