<ul class="fact-list">
	<li *ngFor="let fact of factSet.facts; let fi = index">
		<div class="fact" [class.selected]="selected === fact">
			<ul class="fact-prop-list" (click)="select(fact)">
				<li *ngFor="let prop of fact.props; let i = index; trackBy:trackByIndex"><input [(ngModel)]="fact.props[i]" placeholder="property"></li>
			</ul>
			<img class="nav-button" src="assets/navigation/up_min.svg" alt="move up">
			<img class="nav-button" src="assets/navigation/down_min.svg" alt="move down">
			<img class="nav-button" src="assets/navigation/cancel.svg" alt="delete">
		</div>
	</li>
</ul>
